body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#case-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

.error {
    color: red;
    font-weight: bold;
}

#final-message {
    font-size: 24px;
    font-style: italic;
    color: #333;
    margin-top: 40px;
}
#qr-container {
    margin-top: 40px;
    text-align: center;
}

#qr-code {
    width: 300px; /* Aumenta el tamaño según tu preferencia */
    height: auto;
    margin-top: 20px;
}
